* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-left: 10vw;
  padding-right: 10vw;
}

main {
  margin-bottom: 70px;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 3em;
  padding-top: 2em;
  align-items: baseline;
}

.header__homelink {
  margin-left: auto;
  color: #ff0055;
}

.header__homelink.active {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  background-color: #ff0055;
  z-index: 1000;
}

.blog-intro {
  margin-top: 1em;
}
.blogposts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 2em;
  margin-top: 3em;
}

.blogposts-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  transition: transform 0.2s;
  background-color: #5fd2ff;
  text-decoration: none;
  color: black;
}

.blogposts-card:hover {
  transform: scale(1.1);
}

.blogposts-card__heading {
  padding: 0;
  margin: 0;
  font-weight: 400;
  border-bottom: 1px solid black;
}

.blogpost {
  display: flex;
  flex-direction: column;
}

.blogpost__subtitle {
  margin-bottom: 0.5em;
}

.blogpost__image-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 0;
  margin-bottom: 2em;
}

.copy-url-container {
  display: flex;
  align-self: flex-end;
  margin: 2em 0;
  gap: 1em;
  align-items: center;
}

.copy-url-button {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.copy-url-notification {
  margin: 0;
  padding-bottom: 0;
}
